@charset "utf-8";
/*!
 * @名称：layout.css
 * @功能：自定义样式
 * @作者：haibao
 * @日期：2014-05-22
 */
.w960 {width: 960px;margin: 0 auto; }
.w330 {width: 330px;margin: 0 auto;}
.mt10 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.c7b {color: #7B7B7B;}
.c46 {color: #4677BD;}
.f16 {font-size: 16px;}

/* header */
#loginBar {background-color: #057340;line-height: 36px;}
#loginBar a {color:#7be394;}
.sp {color:#7be394;margin: 0 2px;}
#headBox {background-color: #02a459;}
#navs a {color: #EBEBEB;font-size: 18px;line-height: 60px;display: inline-block;margin-left: 2em;}
#navs a.active,#navs a:hover {text-decoration: none;color: #96E443;}
/**/

/**/
/* container */
.container {border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;}
#processor {background-color:#FFF;padding: 15px 20px;position: relative; margin-bottom:20px; height:150px;border: 1px solid #C5C5C5;}

.content {background-color: #ffffff;padding: 45px 50px;border: 1px solid #C5C5C5; height:450px; ;}

.toolBar {margin-top: 435px;padding: 10px   0   0  0; border-top: 1px solid #D2D2D2;box-shadow: 0 1px 0 #FBFBFB inset;-webkit-box-shadow: 0 1px 0 #FBFBFB inset; }
.btn {border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;cursor: pointer;display: inline-block;font-size: 14px;height: 35px;line-height: 35px;overflow: visible;padding: 0 36px;text-align: center;text-decoration: none;vertical-align: middle;}
.btn_primary {background-color: #4AAF33;color: #FFFFFF;border: 1px solid #3EAC27; float:right;}
.btn_default {background-color: #F1F1F1;color: #000000;border: 1px solid #D1D1D1;}
.btn:hover {text-decoration: none;}
.phoneYzm {width: 145px;}

/* footer */
#footer {padding: 12px 0 20px 0;color: #9E9F9F;}
.footNavs {color: #9E9F9F;}






*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/1.5 Tahoma,'\5FAE\8F6F\96C5\9ED1','Microsoft Yahei',"hiragino sans gb", Helvetica, Arial, "\5b8b\4f53", 'sans-serif';color:#333;}
a {color:#333;text-decoration: none;-webkit-transition:color .2s ease-in-out;-moz-transition:color .2s ease-in-out;-o-transition:color .2s ease-in-out;-ms-transition:color .2s ease-in-out;transition:color .2s ease-in-out;}
a:hover{text-decoration:none;}

/* index_focus */
.index_focus{position:relative;width:960px;height:530px;margin:0 auto;overflow:hidden;  background-color: #ffffff;border: 1px solid #C5C5C5; }
.index_focus .bd li{display:none;position:absolute;left:0;top:0;}
.index_focus_post{z-index:10;}
.index_focus .pic{height:auto;display:block;}
.index_focus .pic:hover{text-decoration:none;}
.index_focus .slide_nav{position:absolute;left:45%;bottom:2%;}
.index_focus .slide_nav a{cursor:pointer;float:left;font-size:28px;font-family:arial;color:#dedddd;padding:5px 10px;}
.index_focus .slide_nav li:hover,.index_focus .slide_nav .on{text-decoration:none;color:#9c0;filter:alpha(opacity=80);opacity:0.8;}
.index_focus_pre,.index_focus_next{display:none;position:absolute;top:50%;margin-top:-36px;width:72px;height:72px;text-indent:100%;white-space:nowrap;overflow:hidden;z-index:10;background:url(../images/ico_sliding.png) no-repeat;}
.index_focus_pre{left:30px;background-position:0 0;}
.index_focus_pre:hover{background-position:0 -144px;}
.index_focus_next{right:30px;background-position:0 -72px;}
.index_focus_next:hover{background-position:0 -216px;}
.index_focus_info{position:absolute;left:10%;bottom:12%;width:800px;height:200px;padding-bottom:10px;color:#fff;text-decoration:none;cursor:pointer;font-family:"\5fae\8f6f\96c5\9ed1";-moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.6);-webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.6);text-shadow:1px 1px 1px rgba(0, 0, 0, 0.6);background:url("../images/index_focus_bg.png") no-repeat;_background:none;}
.index_focus_info h3{font-size:36px;line-height:70px;font-family:\5fae\8f6f\96c5\9ed1, \u9ed1\u4f53, "Lucida Grande";display:none;}
.index_focus_info .text{width:500px;line-height:24px;font-size:14px;word-wrap:break-word;overflow:hidden;display:none;}